<section class="contacts">
    <div class="contacts__form-conteiner">
        <h2>Contacts</h2>
        <form action="https://formspree.io/f/xbjvjoed" method="post">
            <input type="text" placeholder="Full name*" name="full-name" required>
            <input type="email" placeholder="Email*" name="email" required>
            <input type="submit" value="send">
        </form>
    </div>
    <div class="contacts__map-conteiner">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4252.382550575761!2d24.077401255176778!3d49.82332077121988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ac2b04ce919b5%3A0x5b7ab234de267863!2z0JPRg9GA0YLQvtC20LjRgtC-0Log4oSWMyDQm9Cd0KMg0IbQstCw0L3QsCDQpNGA0LDQvdC60LAg0YLQsCDQkNGB0LDQvyDQnNCw0YDQuNC90LrQuA!5e0!3m2!1suk!2sua!4v1688846564800!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>