<section class="our-strengths">
    <h2 class="our-strengths__title">Our strengths</h2>
    <p class="our-strengths__subtitle">We create functional and highly converting websites</p>
    <div class="our-strengths__cards cards"> 
        <article> 
            <div>
            <img width="40" src="img/thumb-up.svg" alt="Thumb up">
            </div>
            <h3>Quality</h3>
            <div>
            
            </div>
            <p>The highest quality is above all. We pay attention to every detail in everything we produce to exceed clients' expectations and to guarantee they leave us inspired and satisfied each time</p>

        </article>
        <article> 
            <div>
            <img width="40" src="img/thumb-up.svg" alt="Thumb up">
            </div>
            <h3>Quality</h3>
            <div>
            
            </div>
            <p>The highest quality is above all. We pay attention to every detail in everything we produce to exceed clients' expectations and to guarantee they leave us inspired and satisfied each time</p>

        </article>
        <article> 
            <div>
            <img width="40" src="img/thumb-up.svg" alt="Thumb up">
            </div>
            <h3>Quality</h3>
            <div>
            
            </div>
            <p>The highest quality is above all. We pay attention to every detail in everything we produce to exceed clients' expectations and to guarantee they leave us inspired and satisfied each time</p>

        </article>
    </div>
</section>